Test//
Test/deployment/
Test/.classpath
Test/.project
Test/theme/.sass-cache/
Test/GPUCache/
.DS_Store
.idea
.vscode
dist
.env
*.log
*.bak
*.launch
*.tmp
*.lock
mxproject
coverage
.npmrc

**/results
mendixProject
**/e2e/diffs
**/screenshot
**/screenshot-results
**/tests/testProject
**/artifacts

**/node_modules/*

#Include react-native-calendars\src\index.ts 
!node_modules/react-native-calendars
node_modules/react-native-calendars/*
!node_modules/react-native-calendars/src
node_modules/react-native-calendars/src/*
!node_modules/react-native-calendars/src/index.ts
#Include react-native-calendars\src\timeline-list\index.js
!node_modules/react-native-calendars/src/timeline-list
node_modules/react-native-calendars/src/timeline-list/*
!node_modules/react-native-calendars/src/timeline-list/index.js
#Include react-native-calendars\src\timeline\Packer.js
!node_modules/react-native-calendars/src/timeline
node_modules/react-native-calendars/src/timeline/*
!node_modules/react-native-calendars/src/timeline/Packer.js
#Include react-native-calendars\src\calendar\header\index.js
!node_modules/react-native-calendars/src/calendar
node_modules/react-native-calendars/src/calendar/*
!node_modules/react-native-calendars/src/calendar/header
node_modules/react-native-calendars/src/calendar/header/*
!node_modules/react-native-calendars/src/calendar/header/index.js
